---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<div class="flex flex-col items-center sm:flex-row gap-8">
  <div>
    <h1
      class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"
    >
      {config.hero.title}
    </h1>
  </div>
</div>
